@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Lato', sans-serif;
  color: #01312d;
  background-color: #f5f2d0;
} 

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  color: #02afa1;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center {
  margin: auto;
  text-align: center;
}

input {
  width: 90%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #03be9f;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 32px;
  resize: none;
}

textarea {
  width: 90%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #03be9f;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

button {
  width: 90%;
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: #03be9f;
  border: 1px solid #03be9f;
  border-radius: 6px;
  color: #dafff7;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

button:hover,
button:active {
  background-color: #02afa1;
  border-color: #02afa1;
}

